[submodule "bcnn-package"]
	path = bcnn-package
	url = https://tsungyu@bitbucket.org/tsungyu/bcnn-package.git 
[submodule "matconvnet"]
	path = matconvnet
	url = https://github.com/vlfeat/matconvnet.git
[submodule "vlfeat"]
	path = vlfeat
	url = https://github.com/vlfeat/vlfeat.git
